doctype html
html
  head
    link(rel='stylesheet', href='style.css')
    title Hot rubbish near you

    //- script(src="vendor/jquery/dist/jquery.min.js")
    //- CSS
    link(href="vendor/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet')
    link(href="vendor/font-awesome/css/font-awesome.min.css" rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    //- ANGULAR
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-ui-router/release/angular-ui-router.min.js")
    //- GOOGLE MAPS
    script(src='http://maps.googleapis.com/maps/api/js?language=en')
  body(ng-app='curbApp')
    ui-view

    script(src='js/module.js')
    script(src='js/controllers/map.js')
    script(src='js/services/map.js')
    //- script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB5J33uD9EckQdm-P_V2H4utRvbxzzKws0&callback=initMap')

